<!DOCTYPE html>
{% load gTTS %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<audio id="player" src="{% say 'ru' 'Управление воспроизведением через JavaScript Управлять HTML5 аудио-проигрывателем через JavaScript очень легко. Следующий пример показывает, как с использованием JavaScript можно построить свои базовые элементы управления аудио-плеером:' %}"></audio>
<div>
	<a onclick="document.getElementById('player').play()">Воспроизведение</a>
	<button onclick="document.getElementById('player').pause()">Пауза</button>
	<button onclick="document.getElementById('player').volume=1">Громкость +</button>
	<button onclick="document.getElementById('player').volume-=0.1">Громкость -</button>
</div>
</body>
</html>