{% extends "base.html" %}
{% load static %}

<title>{% block title %}{{ title }} :: {{ block.super }}{% endblock title %}</title>

{% block mobile_content %}
<div class="d-block d-sm-none d-flex w-100 h-100 mx-auto bg-cover">

    <!--Контент-->
    <div class="bg-cover m-auto">
        <div class="d-grid gap-3">
            {% for category in categories %}
            <a class="btn btn-outline-light" href="{{ category.get_absolute_url }}" role="button" style="border: 2px solid #ffffffbf; padding: 1rem 2.5rem; font-size: 1.3rem; border-radius: .5rem;">
                {{ category.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock mobile_content %}


{% block desktop_content %}
<div class="d-none d-sm-block cover-container m-auto">

    <!--картинка фона-->
    {% include "snippets/_background.html" %}

    <!--Контент-->
    <main>
        <div class="card bg-cover cover-container">
            <div class="d-grid gap-3 m-auto">
                {% for category in categories %}
                <a class="btn btn-outline-light" href="{{ category.get_absolute_url }}" role="button" style="border: 2px solid #ffffffbf; padding: 1rem 2.5rem; font-size: 1.3rem; border-radius: .5rem;">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </main>

    <!--Нижний заголовок-->
    {% include "snippets/_footer.html" %}

    <a data-toggle='collapse' href='#' id='textSwitch' class='text-center btn btn-default'>Read More</a>

</div>
{% endblock desktop_content %}