{% extends "base.html" %}
{% load static %}
{% load gTTS %}

<title>{% block title %}{{ title }} :: {{ block.super }}{% endblock title %}</title>

{% block mobile_content %}
<div class="d-block d-sm-none d-flex w-100 h-100 mx-auto flex-column bg-cover text-light">
    <div class="card-header-cover p-1 d-flex justify-content-between">
        <!--меню-->
        {% include "translator/snippets/_menu.html" %}
        <!--Форма поиска-->
        {% include "translator/snippets/_search_form.html" %}
    </div>

    <!--Контент-->
    {% include "translator/snippets/_content_show_word.html" %}

    <!--Навигация на пред. и новую страницу-->
    {% include "translator/snippets/_next_previous.html" %}

    <!--кнопки правления-->
    <div class="card-footer-cover p-1 mt-auto d-flex justify-content-between">

        <!--Кнопка добавить в повтор, удалить из повтора-->
        {% include "translator/snippets/buttons/_btn_add_del_select.html" %}

        <a href="#" class="btn btn-outline-light" role="button" style="border: 2px solid #ffffffbf;"><strong class="mx-2">1</strong></a>

        <a href="#" class="btn btn-outline-light" role="button" style="border: 2px solid #ffffffbf;"><strong class="mx-2">0</strong></a>

        <!--Кнопка перевода-->
        {% include "translator/snippets/buttons/_btn_translate.html" %}

    </div>

</div>
{% endblock mobile_content %}


{% block desktop_content %}
<div class="d-none d-sm-block cover-container m-auto flex-column">

    <!--картинка фона-->
    {% include "translator/snippets/_background.html" %}

    <main>
        <div class="card text-light bg-cover cover-container">
            <div class="card-header-cover p-1 d-flex justify-content-between">
                <!--меню-->
                {% include "translator/snippets/_menu.html" %}
                <!--Форма поиска-->
                {% include "translator/snippets/_search_form.html" %}
            </div>

            <!--Контент-->
            {% include "translator/snippets/_content_show_word.html" %}

            <!--Навигация на пред. и новую страницу-->
            {% include "translator/snippets/_next_previous.html" %}

            <!--кнопки правления-->
            <div class="card-footer-cover p-1 d-flex justify-content-between">

                <!--Кнопка добавить в повтор, удалить из повтора-->
                {% include "translator/snippets/buttons/_btn_add_del_select.html" %}

                <a href="#" class="btn btn-outline-light" role="button" style="border: 2px solid #ffffffbf;"><strong class="mx-2">1</strong></a>

                <a href="#" class="btn btn-outline-light" role="button" style="border: 2px solid #ffffffbf;"><strong class="mx-2">0</strong></a>

                <!--Кнопка перевода-->
                {% include "translator/snippets/buttons/_btn_translate.html" %}

            </div>
        </div>
    </main>

    <!--Нижний заголовок-->
    {% include "translator/snippets/_footer.html" %}

</div>
{% endblock desktop_content %}
