{% extends "base.html" %}
{% load static %}

<title>{% block title %}{{ title }} :: {{ block.super }}{% endblock title %}</title>

{% block mobile_content %}
<div class="d-block d-sm-none d-flex w-100 h-100 mx-auto flex-column bg-cover text-light">
    <div class="card-header-cover p-1 d-flex justify-content-between">
        <!--меню-->
        {% include "translator/snippets/_menu.html" %}
    </div>

    <div class="d-grid gap-3 m-auto">
        <div class="col-auto">
            <input type="email" id="emailMobil" class="form-control" placeholder="email" aria-describedby="email_mpbil">
        </div>
        <button type="submit" class="btn btn-outline-light" style="border: 2px solid #ffffffbf;"><strong class="mx-1">Отправить</strong></button>
    </div>

</div>
{% endblock mobile_content %}


{% block desktop_content %}
<div class="d-none d-sm-block cover-container m-auto flex-column">

    <!--картинка фона-->
    {% include "translator/snippets/_background.html" %}

    <main>
        <div class="card text-light bg-cover cover-container">
            <div class="card-header-cover p-1 d-flex justify-content-between">
                <!--меню-->
                {% include "translator/snippets/_menu.html" %}
            </div>

            <div class="d-grid gap-2 col-9 m-auto">
                <form method="post" novalidate>

                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        {{ field }}
                        {% if field.errors%}
                            {% for error in field.errors %}
                                <span class="small">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endfor %}

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-light" style="border: 2px solid #ffffffbf;"><strong class="mx-1">Отправить</strong></button>
                    </div>

                </form>
            </div>

        </div>
    </main>

    <!--Нижний заголовок-->
    {% include "translator/snippets/_footer.html" %}

</div>
{% endblock desktop_content %}