{% extends "base.html" %}
{% load static %}

<title>{% block title %}Повтор слов{% endblock title %}</title>

{% block mobile_content %}
<div class="d-block d-sm-none d-flex w-100 h-100 mx-auto flex-column bg-cover text-light">
    <div class="card-header-cover p-1 d-flex justify-content-between">
        <!--меню-->
        {% include "snippets/_menu.html" %}
        <!--Форма поиска-->
        {% include "snippets/_search_form.html" %}
    </div>

    <!--Контент-->
    {% include "snippets/_content_show_word.html" %}

    <div class="collapse" id="collapseExampleMobil">
        <div class="card card-body p-0">
            <form action="" method="POST">
                <div>
                    <textarea class="form-control" aria-label="With textarea" placeholder="Проверь себя"></textarea>
                </div>
            </form>
        </div>
    </div>

    <!--кнопки правления-->
    <div class="card-footer-cover p-1 mt-auto d-flex justify-content-evenly">

        <button class="btn-cover" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleMobil" aria-expanded="false" aria-controls="collapseExample">
            <div class="px-cover">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </div>
        </button>

        <a href="{% url 'url_translator:extend_replay' category_slug %}" class="btn btn-outline-light" role="button" style="border: 2px solid #ffffffbf;"><strong class="mx-1">Ответ</strong></a>

    </div>

</div>
{% endblock mobile_content %}


{% block desktop_content %}
<div class="d-none d-sm-block cover-container m-auto flex-column">
    <!--картинка фона-->
    {% include "snippets/_background.html" %}

    <main>
        <div class="card text-light bg-cover cover-container">
            <div class="card-header-cover p-1 d-flex justify-content-between">
                <!--меню-->
                {% include "snippets/_menu.html" %}
                <!--Форма поиска-->
                {% include "snippets/_search_form.html" %}
            </div>

            <!--Контент-->
            {% include "snippets/_content_show_word.html" %}

            <div class="collapse" id="collapseExample">
                <div class="card card-body p-0">
                    <form action="" method="POST">
                        <div>
                            <textarea class="form-control" aria-label="With textarea" placeholder="Проверь себя"></textarea>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card-footer-cover d-flex p-1 justify-content-evenly">

                <button class="btn-cover" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <div class="px-cover">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </div>
                </button>

                <a href="{% url 'url_translator:extend_replay' category_slug %}" class="btn btn-outline-light" role="button" style="border: 2px solid #ffffffbf;"><strong class="mx-1">Ответ</strong></a>

            </div>

        </div>
    </main>

    <!--Нижний заголовок-->
    {% include "snippets/_footer.html" %}

</div>
{% endblock desktop_content %}