{% extends "base.html" %}
{% load static %}

<title>{% block title %}Настройки{% endblock title %}</title>

{% block mobile_content %}
<div class="d-block d-sm-none d-flex w-100 h-100 mx-auto flex-column bg-cover text-light">
    <div class="card-header-cover p-1 d-flex justify-content-between">
        <!--меню-->
        {% include "snippets/_menu.html" %}
    </div>

    <div class="d-grid gap-3 m-auto">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultMobil">
            <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedMobil" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1Mobil">
            <label class="form-check-label" for="flexRadioDefault1">
                Default radio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2Mobil" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Default checked radio
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultMobil">
            <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedMobil" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Checked checkbox
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1Mobil" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
                Default radio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2Mobil" value="option2">
            <label class="form-check-label" for="exampleRadios2">
                Second default radio
            </label>
        </div>

        <div>
            <input type="checkbox" class="btn-check" id="btn-check-outlinedMobil" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-outlined">Single toggle</label><br>
            <input type="checkbox" class="btn-check" id="btn-check-2-outlinedMobil" checked autocomplete="off">
            <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br>
            <input type="radio" class="btn-check" name="options-outlined" id="success-outlinedMobil" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="success-outlined">Checked success radio</label>
            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlinedMobil" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined">Danger radio</label>
        </div>
    </div>

</div>
{% endblock mobile_content %}


{% block desktop_content %}
<div class="d-none d-sm-block cover-container m-auto flex-column">

    {% include "snippets/_background.html" %}

    <main>
        <div class="card text-light bg-cover cover-container">
            <div class="card-header-cover p-1 d-flex justify-content-between">
                <!--меню-->
                {% include "snippets/_menu.html" %}
            </div>

            <div class="d-grid gap-3 m-auto">

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Default checked radio
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Checked checkbox
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Second default radio
                    </label>
                </div>

                <div>
                    <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btn-check-outlined">Single toggle</label><br>
                    <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br>
                    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="success-outlined">Checked success radio</label>
                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                    <label class="btn btn-outline-danger" for="danger-outlined">Danger radio</label>
                </div>

            </div>

        </div>
    </main>

    <!--Нижний заголовок-->
    {% include "snippets/_footer.html" %}

</div>
{% endblock desktop_content %}