{% extends "base.html" %}
{% load static %}

<title>{% block title %}{{ title }} :: {{ block.super }}{% endblock title %}</title>

{% block mobile_content %}
<div class="d-block d-sm-none d-flex w-100 h-100 mx-auto flex-column bg-cover text-light">
    <div class="card-header-cover p-1 d-flex justify-content-between">
        <!--меню-->
        {% include "translator/snippets/_menu.html" %}
        <!--Форма поиска-->
        {% include "translator/snippets/_search_form.html" %}
    </div>

    <!--Контент (таблица) -->
    <ul class="list-group h-100 w-100 list-group-flush">
        {% for word in words_list %}
        <a href="{% url 'url_translator:card' request.slug_category word.slug %}" style="text-decoration: none;" class="list-group-item-cover h-100 w-100 d-flex align-items-center">
            <div class="d-flex align-items-center">
                <img class="bd-placeholder-img rounded-0" width="13%"  src="{% static 'image/placeholder.png' %}">
                <div class="text-start ps-2 d-flex flex-column">
                    {% include "translator/snippets/_content_words.html" %}
                </div>
            </div>
        </a>
        {% endfor %}
    </ul>

    <!--Пагинация страниц-->
    {% include "translator/snippets/_paginate.html" %}

    <!--Кнопки снизу-->
    <div class="card-footer-cover p-1 d-flex justify-content-between">

        <!--Кнопка перевода-->
        {% include "translator/snippets/buttons/_btn_translate.html" %}

        <!--Кнопка воспроизведения и стопа-->
        {% include "translator/snippets/buttons/_btn_playbacks_and_stops.html" %}

        <div class="px-cover">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
            </svg>
        </div>

    </div>
</div>
{% endblock mobile_content %}


{% block desktop_content %}
<div class="d-none d-sm-block cover-container m-auto flex-column">
    <!--картинка фона-->
    {% include "translator/snippets/_background.html" %}

    <main>
        <div class="card text-light bg-cover cover-container">
            <div class="card-header-cover p-1 d-flex justify-content-between">
                <!--меню-->
                {% include "translator/snippets/_menu.html" %}
                <!--Форма поиска-->
                {% include "translator/snippets/_search_form.html" %}
            </div>

            <!--Контент (таблица)-->
            <div class="card-body p-1 pb-0">
                <ul class="list-group list-group-flush">
                    {% for word in words_list %}
                    <li class="list-group-item-cover">
                        <a href="{% url 'url_translator:card' request.slug_category word.slug %}" style="text-decoration: none;">
                            <div class="d-flex justify-content-start align-items-center">
                                <img class="bd-placeholder-img rounded-0" width="45" height="38"  src="{% static 'image/placeholder.png' %}">
                                <div class="text-start ps-1 lh-1">
                                    {% include "translator/snippets/_content_words.html" %}
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!--Пагинация страниц-->
            {% include "translator/snippets/_paginate.html" %}

            <!--Кнопки снизу-->
            <div class="card-footer-cover p-1 d-flex justify-content-between">

                <!--Кнопка перевода-->
                {% include "translator/snippets/buttons/_btn_translate.html" %}

                <!--Кнопка воспроизведения и стопа-->
                {% include "translator/snippets/buttons/_btn_playbacks_and_stops.html" %}

                <div class="px-cover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                    </svg>
                </div>

            </div>
        </div>
    </main>

    <!--Нижний заголовок-->
    {% include "translator/snippets/_footer.html" %}

    <!--список mp3 записей-->
    {% include "translator/snippets/_play_words.html" %}

</div>
{% endblock desktop_content %}


