{% load static %}
{% load gTTS %}
<!--слово-->
<div class="card-body">
  <div class="position-relative top-50 start-50 translate-middle">
    <div class="card-text lead">
      <strong>
        {% if name_space in request.resolver_match.namespace %}
        <audio id="ru" src="{% say 'ru' object.translation %}"></audio>
        <a style="cursor: pointer" onclick="document.getElementById('ru').play()">{{ object.translation }}</a>
        {% else %}
        <audio id="en" src="{% say 'en-uk' object.word %}"></audio>
        <a style="cursor: pointer" onclick="document.getElementById('en').play()">{{ object.word }} - {{ object.transcript }}</a>
        {% endif %}
      </strong>
    </div>
  </div>
</div>

<!--картинка к слову-->
<div class="py-0 px-2">
  <div class="position-relative top-50 start-50 translate-middle">
    <img class="bd-placeholder-img rounded-0 w-100" src="{% static 'image/placeholder3.jpg' %}" usemap="#workmap">
    <map name="workmap">
      {% if previous %}<area shape="rect" coords="0,0,180,270" href="{{ previous }}">{% endif %}
      {% if next %}<area shape="rect" coords="180,0,360,270" href="{{ next }}">{% endif %}
    </map>
  </div>
</div>
<a href="{{ object.links_image }}" style="font-size: 0.675em; color: #5b92ad!important;" target="_blank">Ссылка на ресурс фото</a>

<!--пример слова в предложении-->
<div class="card-body">
  <span class="card-text small">
      {% if name_space in request.resolver_match.namespace %}
      <audio id="ruEx" src="{% say 'ru' object.example_translate %}"></audio>
      <a style="cursor: pointer" onclick="document.getElementById('ruEx').play()">{{ object.example_translate }}</a>
      {% else %}
      <audio id="enEx" src="{% say 'en-uk' object.example %}"></audio>
      <a style="cursor: pointer" onclick="document.getElementById('enEx').play()">{{ object.example }}</a>
      {% endif %}
  </span>
</div>
