<div class="dropdown text-start">
    <button class="btn-cover" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="true" style="">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton">
        <li><a class="small dropdown-item-cover" href="{% url 'category' %}">Категории</a></li>
        <li><a class="small dropdown-item-cover {% if request.resolver_match.url_name == 'word' %}active{% endif %}" href="{% url 'url_translator:word' category_slug %}">Список слов</a></li>
        <li><a class="small dropdown-item-cover {% if request.resolver_match.url_name == 'repeat_words' %}active{% endif %}" href="{% url 'url_translator:repeat_words' category_slug %}">Повтор слов</a></li>
        <li><a class="small dropdown-item-cover {% if request.resolver_match.url_name == 'audio_replay' %}active{% endif %}" href="{% url 'url_translator:audio_replay' category_slug %}">Аудио повтор</a></li>
        <li><a class="small dropdown-item-cover {% if request.resolver_match.url_name == 'settings' %}active{% endif %}" href="{% url 'url_translator:settings' category_slug %}">Настройки</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="small dropdown-item-cover {% if request.resolver_match.url_name == 'auth' %}active{% endif %}" href="{% url 'url_translator:auth' category_slug %}">Войти</a></li>
    </ul>
</div>
